.cart-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .cart-item {
    border: 1px solid #f5cccc;
    margin: 10px 0;
    background-color: rgb(228, 228, 228);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  button{
    background-color: #4561ff;
    outline: none;
    border: none;
  }
  .cont{
    background-color: hsl(0, 0%, 96%);
   margin-left: 240px;
    width: 300px;
    height: 270px;
  }
  .cart-item h2 {
    margin-top: 0;
    margin-bottom: 10px;
    background-color: hsl(0, 100%, 87%);
    display: inline;
    border-radius: 5px;
    padding: 5px;
  }
  
  .cart-item p {
    margin-left: 90px;
  }
  
  .thumbnail, .product-image {
    width: 200px;
    height: 220px;
    position: absolute;
    border-radius: 4px;
    margin-top: 50px;
    margin-left: -100px;
  }
  
  .quantity-btn {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 

  .quantity-btn:hover {
    background-color: #0056b3;
  }
  
  .cart-summary {
    border-top: 2px solid #ccc;
    padding-top: 20px;
    text-align: center;
  }
  
  .cart-summary h2 {
    margin: 10px 0;
  }
  